<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Needed for Firebase Database internet access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LocalLoopApp_Android"
        tools:targetApi="31">
        <activity
            android:name=".activities.CreateEventActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ManageEventsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.dashboard_activities.OrganizerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.dashboard_activities.ParticipantDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.dashboard_activities.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".xbombgame.GameActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ManageCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>